.tabs-component-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.unac-tab-container{
  display: flex;
  border-bottom: 1px solid #ccc;
}

.button-tab{
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.button-tab:hover{
    background-color: #ddd;
}
.button-tab.active{
  border-bottom: 2px solid blue;
  background-color: #f0f0f0;
}

.ac-tab-container{
  flex: 1;
  overflow: auto;
  padding: 20px;
}